<div class="sidebar">
  <div class="nav-section" [routerLink]="'/creational'">Creational</div>
  <div class="nav-item" [routerLink]="'/creational/factory-method'">Factory Method</div>
  <div class="nav-item" [routerLink]="'/creational/abstract-factory'">Abstract Factory</div>
  <div class="nav-item" [routerLink]="'/creational/builder'">Builder</div>
  <div class="nav-item" [routerLink]="'/creational/prototype'">Prototype</div>
  <div class="nav-item" [routerLink]="'/creational/singleton'">Singleton</div>

  <div class="nav-section" [routerLink]="'/structural'">Structural</div>
  <div class="nav-item" [routerLink]="'/structural/adapter'">Adapter</div>
  <div class="nav-item" [routerLink]="'/structural/bridge'">Bridge</div>
  <div class="nav-item" [routerLink]="'/structural/composite'">Composite</div>
  <div class="nav-item" [routerLink]="'/structural/decorator'">Decorator</div>
  <div class="nav-item" [routerLink]="'/structural/facade'">Facade</div>
  <div class="nav-item" [routerLink]="'/structural/flyweight'">Flyweight</div>
  <div class="nav-item" [routerLink]="'/structural/proxy'">Proxy</div>

  <div class="nav-section" [routerLink]="'/behavioral'">Behavioral</div>
  <div class="nav-item" [routerLink]="'/behavioral/chain-of-responsibility'">Chain Of Responsibility</div>
  <div class="nav-item" [routerLink]="'/behavioral/command'">Command</div>
  <div class="nav-item" [routerLink]="'/behavioral/iterator'">Iterator</div>
  <div class="nav-item" [routerLink]="'/behavioral/mediator'">Mediator</div>
  <div class="nav-item" [routerLink]="'/behavioral/momento'">Momento</div>
  <div class="nav-item" [routerLink]="'/behavioral/observer'">Observer</div>
  <div class="nav-item" [routerLink]="'/behavioral/state'">State</div>
  <div class="nav-item" [routerLink]="'/behavioral/strategy'">Strategy</div>
  <div class="nav-item" [routerLink]="'/behavioral/template-method'">Template Method</div>
  <div class="nav-item" [routerLink]="'/behavioral/visitor'">Visitor</div>
</div>
