$top-bar-height: 6.4rem;

.top {
  position: absolute;
  top: 0;
  height: $top-bar-height;
  width: 100vw;
  z-index: 1;
}

.main-container {
  display: flex;
  position: relative;
  margin-top: $top-bar-height;

  .sidebar {
    display: block;
    min-width: 26rem;
    width: 26rem;
    height: calc(100vh - #{$top-bar-height});
    overflow-y: scroll;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
    transition: all 500ms ease;
  }

  .open {
    min-width: 0;
    width: 0;
  }

  .content {
    flex-grow: 1;
    height: calc(100vh - #{$top-bar-height});
    overflow-y: scroll;
  }
}

@media screen and (max-width: 800px) {

  .main-container {
    .sidebar {
      position: absolute;
      display: none;
      width: 0;
    }

    .open {
      display: unset;
      width: 26rem;
    }
  }
}
