.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: fit-content;

  z-index: -6;

    .code {
      width: 100%;
      border-radius: 0.6rem;

      overflow: hidden;
      background-color: #eae5e5;
      z-index: -1;

      &--heading {
        padding: 0.4rem 0 0.4rem 2rem;
        color: white;
        background-color: dodgerblue;
      }

      &--body {
        overflow-x: scroll;
        padding: 0 3rem 0 0;
      }
    }

    .console {
      width: 100%;
      height: fit-content;

      border-radius: 0.6rem;

      overflow: hidden;
      background-color: black;

      &--heading {
        padding: 0.4rem 0 0.4rem 2rem;
        color: white;
        background-color: dodgerblue;
      }

      &--text {
        height: 20rem;
        padding: 1.2rem 2rem;

        font-family: "Courier New", Courier, monospace;
        font-size: 1.4rem;
        line-height: 3rem;
        color: greenyellow;

        overflow-y: scroll;
      }

      &--controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 1rem;
      }
    }
}
