<div class="content">
  <h2 class="heading">Singleton</h2>
  <p class="body">
    A singleton restricts the instantiation of a class to one instance.
  </p>
  <p class="body">
    Singletons allow the members of a class to be shared across an application allowing other classes or modules to share data or common behaviour.
  </p>
  <h3 class="heading">Class Diagram</h3>
  <section class="block">
    <img class="diagram" src="assets/diagrams/singleton.svg" alt="Diagram">
  </section>
  <h3 class="heading">Typescript Implementation</h3>
  <section class="block">
    <div class="code">
      <h4 class="code--heading">Singleton.ts</h4>
      <pre class="code--body">
      <code [innerHTML]="code"></code>
    </pre>
    </div>
  </section>
  <h3 class="heading">Demo</h3>
  <section class="block">
    <div class="console">
      <h4 class="console--heading">Singleton.console</h4>
      <div class="console--text">
        <p *ngFor="let instance of instanceList; index as i;">&gt; Created instance: {{i}}</p>
        <p *ngFor="let checked of checkedInstances;">&gt; {{checked}}</p>
      </div>
    </div>
  </section>
  <section class="block">
    <div class="buttons">
      <div id="new-singleton" class="btn" (click)="newSingletonInstance()">New Instance</div>
      <div id="check-singletons" class="btn" (click)="checkSingletonInstances()">Check Instances</div>
    </div>
  </section>
</div>
